/* Bag-Area */
.bag-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7px 8px 8px 8px;
  gap: 10px;
  position: fixed;
  width: 320px;
  height: 99%;
  right: 0;
  top: 0px;
  background-color: aqua;
}

/* Title */
.title h3{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* padding: 8px; */
  gap: 10px;
  width: 79px;
  height: 55px;
  font-style: normal;
  font-weight: 500;
  font-size: 39.06px;
  line-height: 47px;
  color: #1A1F16;
  background-color: white ;
}

/* Bag-Items */
.bag-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8px;
  gap: 16px;
  width: 288px;
  height: 192px;
  background-color: red;
}

/* Row */
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 274px;
  height: 80px;
  background-color: yellow;
}

/* Bag-Item */
.bag-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  gap: 16px;
  width: 70px;
  height: 70px;
  background: #FFFFFF;
  border-radius: 12px;
}

/* Product-Image */
.product-image {
  width: 64px;
  height: 64px;
}

/* Image */
.image {
  position: absolute;
  left: 0%;
  right: 0%;
  top: -15.5%;
  bottom: -15.5%;

}

/* Button */
.button {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 80px;
  width: 140px;
  height: 30px;
  background: #1A1F16;
  border-radius: 17px;
}

/* Icon */
.icon {
  width: 24px;
  height: 24px;
}
